<!DOCTYPE html>
<html lang="en-us">
    <head><title>Loogatee Controlz HomePage</title></head>
    <body>
        <div>
            <img src="/img/Ldrawing.png?updated={DateTime.Now.Ticks}" usemap="#image-map"/>
        </div>
        <map name="image-map">
            <area target="" title="LinkedIn HomePage" href="https://www.linkedin.com/in/john-reed-b1baa14a" coords="794,566,24" shape="circle">
            <area target="" title="Loogatee GitHub"   href="https://github.com/loogatee"                    coords="882,564,27" shape="circle">
        </map>
    </body>
</html>
